node_modules
tests
coverage
config
jenkins
.storybook
.awcache
scripts/*.js
ResizeObserver.global.js
.eslintrc.js
.prettierrc.js

**/__snapshots__/*

# build result
dist
public

scripts

*.svg
*.png
*.jpg
*.gif
*.wav
*.html
*.css
*.hbs
*.groovy
*.sh
*.mp3
*.json

jest-base.config.js
jest-default.config.js
jest-node.config.js
jest.config.js
