# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
/build
/packages/**/build/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test results
jest-html-report

# build
storybook-static/
public/
dist
dist-source

# commitizen
jira.config.json
jira.cache.json

framer/scripts/auth.json

.env
.nx
