$rc-rcDark-variable: (
  palette: (
    action: (
      grayDark: #FFFFFF,
      grayLight: #FFFFFF,
      primary: #35C6FF
    ),
    avatar: (
      ash: #FFFFFF,
      blueberry: #AE9CFF,
      brass: #EBA800,
      global: #84CCFF,
      gold: #FEFF05,
      lake: #12F7FF,
      oasis: #00C5BE,
      pear: #7FFF5D,
      persimmon: #FF833B,
      sage: #42FFA0,
      tomato: #FF827A
    ),
    content: (
      brand: #35C6FF
    ),
    danger: (
      b01: #391D19,
      b02: #49241F,
      b03: #FF827A,
      b04: #FF827A,
      f01: #49241F,
      f02: #FF827A,
      f11: #FF827A
    ),
    dialHeader: (
      avatarBg: #84CCFF,
      avatarIcon: #FFFFFF,
      bg: #000000,
      focusBorder: #35C6FF,
      icon: #FFFFFF,
      text: #FFFFFF,
      textHint: #FFFFFF
    ),
    disabled: (
      b01: #4D4D4D,
      f01: #000000,
      f02: #4D4D4D
    ),
    error: (
      main: #DD6057
    ),
    header: (
      bgLeft: #000000,
      bgOverlay: rgba(255,255,255,0.16),
      bgOverlayDisabled: rgba(255,255,255,0.08),
      bgRight: #000000,
      border: #FFFFFF,
      divider: #FFFFFF,
      fabBg: #000000,
      fabIcon: #FFFFFF,
      focusBorder: #FFFFFF,
      icon: #FFFFFF,
      iconDisabled: rgba(255,255,255,0.32),
      text: #FFFFFF,
      textHint: #FFFFFF
    ),
    highContrast: #FFFFFF,
    highlight: (
      b01: #FFFFFF,
      b02: #3E2A19,
      b03: #884C12,
      f01: #FFA43B,
      f02: #FFA43B
    ),
    info: (
      main: #FFFFFF
    ),
    informative: (
      b01: #000000,
      f01: #222E49,
      f02: #35C6FF
    ),
    interactive: (
      b01: #29334C,
      b02: #35C6FF,
      f01: #35C6FF
    ),
    label: (
      black02: #FFFFFF,
      blue01: #35C6FF,
      blue02: #35C6FF,
      green01: #7FFF5D,
      green02: #7FFF5D,
      orange01: #FFA43B,
      orange02: #FFA43B,
      purple01: #AE9CFF,
      purple02: #AE9CFF,
      red01: #FF827A,
      red02: #FF827A,
      teal01: #12F7FF,
      teal02: #12F7FF,
      yellow01: #FEFF05,
      yellow02: #FEFF05
    ),
    nav: (
      b01: #000000,
      b02: #000000,
      bookmark: #35C6FF,
      ctlDefault: #FFFFFF,
      ctlSelected: #35C6FF,
      f01: #FFFFFF,
      f02: #FFFFFF,
      f03: #FFFFFF,
      f04: #FFFFFF,
      iconDefault: #FFFFFF,
      iconSelected: #35C6FF,
      line: #FFFFFF,
      mention: #FFA43B,
      menuBg: #35C6FF,
      menuText: #000000
    ),
    neutral: (
      b01: #000000,
      b02: #000000,
      b03: #000000,
      b04: #FFFFFF,
      b05: #FFFFFF,
      b06: #000000,
      elevation: #000000,
      f01: #000000,
      f02: #808080,
      f03: #FFFFFF,
      f04: #FFFFFF,
      f05: #FFFFFF,
      f06: #FFFFFF,
      f07: #000000,
      f11: #FFFFFF,
      l01: #000000,
      l02: #FFFFFF,
      l03: #FFFFFF,
      l04: #FFFFFF,
      transparent: transparent
    ),
    presence: (
      available: #7FFF5D,
      busy: #FF827A,
      invisible: #808080
    ),
    primary: (
      main: #35C6FF
    ),
    secondary: (
      main: #884C12
    ),
    subAction: #35C6FF,
    success: (
      b01: #1C281B,
      b02: #223221,
      b03: #7FFF5D,
      b04: #7FFF5D,
      b05: #FFFFFF,
      f01: #223221,
      f02: #7FFF5D,
      f11: #7FFF5D,
      main: #3D9A4A
    ),
    tab: (
      default: #FFFFFF,
      selected: #35C6FF
    ),
    type: dark,
    umi: (
      bg: #FFFFFF,
      mentioned: #FFA43B,
      text: #000000
    ),
    vDanger: (
      f01: #DD6057
    ),
    vDisabled: (
      f01: #54565E
    ),
    vNeutral: (
      b01: #1e2027,
      b02: #282A32,
      b03: #30323A,
      b04: #383A43,
      f01: #FFFFFF
    ),
    warning: (
      b01: #2B2416,
      b02: #373D1B,
      b03: #FEFF05,
      f01: #FEFF05,
      f02: #FEFF05,
      f11: #FEFF05,
      main: #74561D
    )
  )
);